
/*
 * GRID:
 * 80px width
 * 46px height
 */

/*
 * #666666
 * #A6A6A6
 */

html { }

body {
	margin: 92px 0 0;
	font-size: 62.5%;
	line-height: 1.6;
	font-family: chaparral-pro, sans-serif;
	background: #CCCCCC url(/i/grid.png) repeat 50% 0; }

header, footer {
	display: block;
	margin: 0 auto;
	width: 480px; }

header {
	padding: 240px 0 0;
	text-align: center;
	background: url(/i/symbol.png) no-repeat 50% 5px; }

h1 {
	font-size: 23px; }

h2 {
	margin: 69px 0 0;
	padding: 23px 40px;
	font-size: 29px;
	font-weight: normal;
	color: #666666;
	border: 1px solid #E3E3E3;
	border-width: 2px 0; }

a {
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out; }

footer ul {
	width: 180px;
	margin: 0 auto; }

footer li {
	float: left;
	padding: 46px 22px; /* 90px W, 138px H */ }
	
footer a {
	display: block;
	width: 46px;
	height: 46px;
	text-indent: -9999px;
	overflow: hidden;
	background: #E3E3E3 url(/i/email.png) no-repeat 50% 50%; }

footer a:hover {
	background-color: #FFFFFF; }

footer a:active {
	margin-top: 2px; }
	
#twitter a {
	background-image: url(/i/twitter.png);  }
